{
  "Parameters": {
    "MONGODB_URI": "<mongodb-uri>",
    "DB_NAME": "uprevit-test",
    "USER_POOL_ID": "<cognito-user-pool-id>",
    "CLIENT_ID": "<cognito-app-client-id>",
    "UPLOADS_BUCKET": "uprevit-storage-dev-and-test",
    "EXPORTS_BUCKET": "exports-storage-dev-and-test",
    "STANDARD_SYMBOLS_BUCKET": "uprevit-standard-symbols",
    "DOCUMENTATION_FILES_BUCKET": "uprevit-documentation-files",
    "EXPORT_JOB_QUEUE_URL": "https://sqs.us-east-1.amazonaws.com/<account-id>/<queue-name>",
    "CHARGEBEE_SITE": "<chargebee-site-subdomain>",
    "CHARGEBEE_API_KEY": "<chargebee-api-key>",
    "CHARGEBEE_WEBHOOK_USERNAME": "<chargebee-webhook-username>",
    "CHARGEBEE_WEBHOOK_PASSWORD": "<chargebee-webhook-password>",
    "CHARGEBEE_SEAT_ADDON_ITEM_PRICE_ID": "<seat-addon-item-price-id>",
    "CHARGEBEE_SSO_ADDON_ITEM_PRICE_ID": "<sso-addon-item-price-id>"
  },
  "EnqueueProductExportFunction": {
    "EXPORT_JOB_QUEUE_URL": "https://sqs.us-east-1.amazonaws.com/<account-id>/<queue-name>",
    "AWS_REGION": "us-east-1"
  },
  "EnqueueReportExportFunction": {
    "EXPORT_JOB_QUEUE_URL": "https://sqs.us-east-1.amazonaws.com/<account-id>/<queue-name>",
    "AWS_REGION": "us-east-1"
  },
  "ProcessProductExportJobFunction": {
    "AWS_REGION": "us-east-1",
    "EXPORTS_PREFIX": "exports",
    "EXPORT_JOB_MAX_RECEIVE_COUNT": "4",
    "CHARGEBEE_SITE": "<chargebee-site-subdomain>",
    "CHARGEBEE_API_KEY": "<chargebee-api-key>",
    "CHARGEBEE_WEBHOOK_USERNAME": "<chargebee-webhook-username>",
    "CHARGEBEE_WEBHOOK_PASSWORD": "<chargebee-webhook-password>",
    "CHARGEBEE_SEAT_ADDON_ITEM_PRICE_ID": "<seat-addon-item-price-id>",
    "CHARGEBEE_SSO_ADDON_ITEM_PRICE_ID": "<sso-addon-item-price-id>"
  },
  "DownloadProductExportJobFunction": {
    "AWS_REGION": "us-east-1"
  },
  "DownloadReportExportJobFunction": {
    "AWS_REGION": "us-east-1"
  },
  "GetDocumentationVideoSignedUrlFunction": {
    "DOCUMENTATION_CLOUDFRONT_DOMAIN": "<your-distribution>.cloudfront.net",
    "DOCUMENTATION_CLOUDFRONT_KEY_PAIR_ID": "<key-pair-id-from-cloudfront>",
    "DOCUMENTATION_CLOUDFRONT_PRIVATE_KEY": "-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----",
    "DOCS_VIDEO_URL_EXPIRES_IN_SECONDS": "86400"
  }
}
